:root {
  --color-fondobtn: #fea35d;
  --color-margenbtn: #ff8a42;
  --color-fondo: #ffe4c2;
}
 .small-image {
      width: 80px; /* Cambia el valor según el tamaño deseado */
      height: auto; /* Esto mantiene la proporción de la imagen */
}
.fondo{
	background: var(--color-fondo);
}
.nbtn{
	background: var(--color-fondobtn);
	border-color: var(--color-margenbtn);
}
.nbtn:hover, .nbtn:active{
	background-color: var(--color-margenbtn) !important;
	border-color: var(--color-margenbtn);
}
.sbno:hover, .sbno:active{
	background-color: var(--color-margenbtn) !important;
	border-color: var(--color-margenbtn);
}
.cel {
	height: 300px;
	display: flex;
}


.cel:after {
    content: "OFERTA";
    height: 24px;
    width: 200px;
    background: red;
    position: absolute;
    rotate: -45deg;
    top: 20px;
    left: -66px;
    TEXT-ALIGN: center;
    color: wheat;
}
.card{
	    overflow: hidden;
}